@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-titillium-web: "Titillium Web", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}

@layer base {
    :root {
      --background: 0 0 38;
      --background-secondary: 16 16 48;
      --foreground: 4 4 16 / 0.7;
      --foreground-secondary: 5 5 22;
      --warning: 233 72 8;
      --success: 39 181 39;
      --danger: 255 0 0;
      --info: 53 53 193;
      --secondary: 255 0 0;
      --contrast: 245 245 245;
      --text: 245 235 245;
      --soil: 84 57 45;
      --slate-800: 30 41 59;
      --indigo: 75 0 130;
      --neon-green: 57 255 20 / 0.9;
      --neon-blue: 15 105 255 / 0.9;
      --neon-red: 255 5 5 / 0.9;
      --neon-yellow: 255 255 1 / 0.9;
      --neon-purple: 140 0 255 / 0.9;
      --neon-orange: 255 154 0 / 0.9;
      --neon-pink: 255 20 147 / 0.9;
      --border-3: 3px;
      --radius: 0.5rem;
    }

  
    ::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
  
    @media screen and (max-width: 768px) {
      ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: rgb(var(--foreground));
      border-radius: 3px;
    }
  
    ::-webkit-scrollbar-track {
      background: linear-gradient(to bottom, rgb(var(--slate-800)), rgb(var(--soil)));
      border-left: 2px solid rgb(var(--border));
      
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background-color: rgb(var(--foreground-secondary));
    }
  
    /* Firefox specific */
    .scrollable-element {
      scrollbar-width: thin; /* Options: auto, thin */
      scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
    }
  
    .smooth:hover {
      transition: .3s ease-in-out;
    }
  
    
    .active {
      background-color: var(--foreground);
      color: var(--foreground);
    }

    /* Maintain background color for inputs with values and autofilled inputs */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px rgb(var(--foreground)) inset !important;
      -webkit-text-fill-color: rgb(var(--text)) !important;
      background-color: rgb(var(--foreground)) !important;
    }

    input:not(:placeholder-shown) {
      background-color: rgb(var(--foreground)) !important;
    }

    /* Firefox autofill */
    input:-moz-autofill {
      background-color: rgb(var(--foreground)) !important;
    }

  
    .fullscreen-bg {
      position: fixed; /* Ensure it stays fixed on the screen */
      top: 0;
      left: 0;
      width: 100vw; /* Full width of the viewport */
      height: 100vh; /* Full height of the viewport */
      background-image: url('/images/MarketMinder_bg.jpg'); /* Update with your image path */
      background-size: cover; /* Make sure the image covers the whole area */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Prevent tiling */
      background-attachment: fixed; /* Make it non-scrollable */
      z-index: -1;
    }


}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
